/**
 *  _MAINSTYLE.CSS
 *  Core styling for the whole application
 *  @author Jonathan Lamb
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
  font-family: 'Roboto', Verdana, sans-serif;
  text-align: center;
}

header {
  height: 60px;
  border-bottom: 2px solid grey;
}

.qField input[type="text"] {
  padding: 5px;
  margin: 8px;
  width: 600px;
}

input:invalid {
  box-shadow: none;
}

input:required {
  box-shadow: none;
}
