/**
 *  _MAINSTYLE.CSS
 *  Core styling for the whole application
 *  @author Jonathan Lamb
 */

body {
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
}

.qField input[type="text"] {
  padding: 5px;
  margin: 8px;
  width: 600px;
}
