/**
 *  ASSESSSTYLE.CSS
 *  Additional styling for the assessment platform
 *  @author Jonathan Lamb
 */

html {
  background-color: #C08080;
}

body {
  width: 1000px;
	margin: 10px auto 10px auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #F7F7F7;
  border: 1px solid #F7F7F7;
}

h1 {
  color: #990000;
  float: left;
  width: 96%;
  height: 60px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: -20px;
}

#clear-buffer {
  width: auto;
  height: 4px;
  float: clear;
}

main {
  padding-bottom: 20px;
}

main p {
  margin-top: 4px;
}

#exit-assess-platform {
  float: right;
  font-size: 50px;
  color: #990000;
  height: 60px;
  padding-bottom: 20px;
  margin-right: 5px;
  transition: all .10s ease;
}

#exit-assess-platform:hover {
  cursor: pointer;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

input[type="text"] {
  width: 600px;
}
