/**
 *  AUTHORSTYLE.CSS
 *  Additional styling for the authoring platform
 *  @author Jonathan Lamb
 */

html {
  background-color: #B2E0B2;
}

body {
  width: 1000px;
	margin: 10px auto 10px auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #F7F7F7;
  border: 1px solid #F7F7F7;
}

header {
  height: 80px;
}

h1 {
  float: left;
  width: 95%;
  height: 60px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: -20px;
}

#clear-buffer {
  width: auto;
  height: 4px;
  float: clear;
}

main {
  padding-bottom: 20px;
}

main p {
  margin-top: 4px;
}

h1, h2 {
  color: #009933;
}

input[type="text"] {
  padding: 5px;
  margin: 8px;
  width: 600px;
}

.author-level {
  margin: 10px 10px 25px 10px;
  text-align: center;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  border: 2px solid #009933;
  border-radius: 30px;
  background-color: #D8F0D8;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.author-question-description p {
  margin: 55px 20px auto 20px;
}

.author-question-container .author-control {
  height: 35px;
  margin: 5px 5px;
  padding-top: 5px;
  width: 200px;
}

.author-control {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: auto 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #F0F9F0;
  max-width: 250px;
  max-height: 52px;
  transition: all .10s ease;
  border: 2px solid #009933;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.author-control:hover {
  cursor: pointer;
  background-color: #009933;
  border-radius: 30px;
}

.author-control:hover p {
  color: #fff;
}

#multiple-option-container {
  font-weight: bold;
  text-align: center;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  margin: 3px 400px 3px 400px;
}

.multiple-option-button {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 150px;
  height: 30px;
  margin-right: 4px;
  background-color: #F0F9F0;
  border: 2px solid #009933;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all .10s ease;
}

.multiple-option-button:hover {
  cursor: pointer;
  background-color: #009933;
  border-radius: 30px;
}

.multiple-option-button:hover p {
  color: #fff;
}

#exit-author-platform {
  float: right;
  font-size: 50px;
  color: #009933;
  height: 60px;
  padding-bottom: 20px;
  margin-right: 5px;
  transition: all .10s ease;
}

#exit-author-platform:hover {
  cursor: pointer;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
