/**
 *  DASHBOARDSTYLE.CSS
 *  Additional styling for the dashboard
 *  @author Jonathan Lamb
 */

html {
  background-color: #CEDFF8;
}

body {
  width: 1000px;
	margin: 10px auto 10px auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #F7F7F7;
  border: 1px solid #F7F7F7;
}

h1, h2 {
  color: blue;
}

ul {
  list-style-type: none;
  margin: 30px 0 40px 0;
  padding: 0;
}

/* Dashboard control CSS */

.dash-level {
  margin: 5px;
  text-align: left;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

.dash-control {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: auto;
  padding: 5px 40px 5px 60px;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 250px;
  max-height: 52px;
  transition: all .10s ease;
  border-radius: 10px;
}

.student-button {
  margin: auto 200px auto 200px;
}

.dash-control:hover {
  cursor: pointer;
  background-color: #85ADFF;
  border-radius: 30px;
}

.dash-control p {
  font-weight: bold;
  color: #000;
  margin-left: 8px;
}

.dash-control:hover p {
  color: #fff;
}

.visualisation-control {
  border: 2px solid #85ADFF;
  background-color: #E8E8FF;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 10px 30px auto auto;
  height: 30px;
}

.visualisation-control p {
  margin: 5px auto auto 8px;
}

#leftmost-vis-control {
  margin-left: 20px;
}

#author-button, #assess-button {
  background-image: url(../img/create_assess.png);
}

#vis-toggle-button {
  background-image: url(../img/stats.png);
}

#logout-button {
  background-image: url(../img/logout.png);
}

a {
  text-decoration: none;
  color: #000;
}

.vis-data-choice {
  margin: 5px auto 20px auto;
}

#pie-container {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

.three-pie {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 300px;
  height: 450px;
}

.pie-desc-container {
  height: 100px;
}

.pie-desc {
  height: 40px;
}

.pie-desc p {
  margin-top: 10px;
  font-weight: bold;
}

.pie-legend {
  height: 20px;
  margin: 5px;
}

.pie-legend-colour {
  width: 6%;
  float: left;
  height: inherit;
  margin-left: 25px;
  border: 1px solid black;
}

/* match to d3 orginal scale for 'drawPie' */
#plc-uq {
  background-color: #FFFF00;
}
#plc-dnuq {
  background-color: #990099;
}
#plc-ca {
  background-color: #00CC00;
}
#plc-wa {
  background-color: #CC0000;
}
#plc-uf {
  background-color: #0033CC;
}
#plc-dnuf {
  background-color: #FF9900;
}

.pie-legend-text {
  width: 75%;
  float: right;
}

.pie-legend-text p {
  margin: 0;
  text-align: left;
}

#test-vis-container {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

.large-scatterplot {
  border: 1px dashed green;
  width: 600px;
  height: 800px;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

#two-pie-container {
  border: 1px dashed orange;
  width: 400px;
  height: 800px;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  display: inline-block;
}

.two-pie {
  border: 1px dashed blue;
  width: 300px;
  height: 400px;
  margin: auto;
}

#student-question-table-container {
  border: 1px dashed red;
  width: 700px;
  height: 200px;
  margin: auto;
}

#student-question-table-container table {
  margin: auto;
}
