/**
 *  DASHBOARDSTYLE.CSS
 *  Additional styling for the dashboard
 *  @author Jonathan Lamb
 */

html {
  background-color: #CEDFF8;
}

body {
  max-width: 1000px;
	min-width: 800px;
	margin: 10px auto 10px auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #F7F7F7;
  border: 1px solid #F7F7F7;
}

h1, h2 {
  color: blue;
}

ul {
  list-style-type: none;
  margin: 30px 0 40px 0;
  padding: 0;
}

li {
  display: inline;
  padding: 10px 20px;
  margin: 15px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #000;
  background: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover, li:hover {
  background: blue;
  color: #fff;
  cursor: pointer;
}

/**
 *  http://bl.ocks.org/mbostock/3887118
 *  Scatterplot, multiple tests
 */

#visLeft {
  font-size: .7em;
}

#visLeft .axis path,
#visLeft .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#visLeft .dot {
  stroke: #000;
}

/**
 *  http://bl.ocks.org/mbostock/32bd93b1cc0fbccc9bf9
 *  Donut chart
 */

#visRight path {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
  transition: fill 250ms linear;
  transition-delay: 150ms;
}

#visRight path:hover {
  fill: #999;
  stroke: #000;
  transition-delay: 0;
}

#visRight #sample1 {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
