body {
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}

h1, h2, h3, p {
	text-align: center;
}

p a:hover {
	font-size: 1.1em;
}

a:link {
    text-decoration: none;
		color: #000;
}

a:visited {
    text-decoration: none;
		color: #000;
}

#mainMenuNav {
	height: 300px;
	width: auto;
	text-align: center;
	padding-top: 20px;
}

.mainMenuImage {
	width: 300px;
	height: 300px;
	background-size:contain;
	background-repeat: no-repeat;
	display: inline-block;
	transition: all .2s ease;
}

.mainMenuImage:hover {
	-ms-transform: scale(1.05);
   	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.mainMenuImage p {
	font-size: 1.5em;
	margin-top: 300px;
}

#createTestImage {
	background-image: url(../img/compose.png);
}

#takeTestImage {
	background-image: url(../img/take.png);
}

#viewResultsImage {
	background-image: url(../img/performance.png);
}
